* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    font-weight: 300;
    font-size: 41px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}

.promo .promo_text {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding: 0 13px;
    margin-top: 23px;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0px auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    border: 4px solid rgba(0, 0, 0, 0.23);
    color: #FFFFFF;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish_header {
    color: #ffffff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}
.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299CBD;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-left: 391px;
    color: #4A4A4A;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 25px;
} 

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/bg/second_bg.jpg") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #EFEFEF;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    padding: 88px 0 88px 0;
    min-height: 631px;
    background: #EFEFEF;
}

.gift .gift_item {
    text-align: center;
}

.gift .gift_item .gift_text {
    margin-top: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
}

.gift .gift_btn {
    margin-top: 51px;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: none;
}

.first_webinar {
    min-height: 433px;
    padding: 81px 0 50.5px 0;
    text-align: center;
}

.first_webinar .first_webinar_main_header {
    margin-top: 36px;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
}

.first_webinar .first_webinar_date_header {
    margin-top: 30px;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #299CBD;
}

.first_webinar .first_webinar_last_header {
    margin-top: 24.5px;
    font-weight: 400;
    font-size: 23px;
    color: #4A4A4A;
}

.footer {
    min-height: 169px;
    padding: 57px 0 69px 0;
    background-color: #1A1A1A;
    text-align: center;
}

.footer .footer_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
}

.footer .footer_text a {
    color: #888888;
}

.underlined {
    text-decoration: none;
}